body {
  padding: 3rem;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrapper{width: 50rem; margin: auto}
#grid-background-target{width: 37.5rem; height: 37.5rem; padding: 1rem;}